.chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}
.angular {
  margin-top: 100px;
}
.angular .chart {
  margin-top: 0;
}
input {
  display: block;
  margin: auto;
  margin-bottom: 3em;
}
.btn {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 10px 20px;
  background: #cccccc;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 0.8em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.btn:hover {
  background: #333333;
  color: #ffffff;
}
.span6 {
  float: left;
  width: 50%;
}
@media only screen and (max-width: 600px) {
  li {
    font-size: 14.4px;
  }
}
@media only screen and (max-width: 430px) {
  .span6 {
    float: none;
    width: 100%;
  }
  body {
    padding-top: 0;
  }
  ul {
    height: auto;
    position: static;
  }
  li {
    display: block;
    width: 100%;
  }
  li a {
    white-space: normal;
  }
  a.active:after {
    display: none;
  }
}
#fb-result{
  background: rgba(34,34,34,0.8);
  color: white;
  font-weight: bold;
  font-size: 21px;
  height: 200px;
  overflow-x: scroll;
}
#fb-profile>p{
  margin:0px;
}
.fb-personality{
  display: inline-block;
  position: relative;
  top: -45px;
  margin-left: 30px;
  text-align: center;
  margin-right: 30px;
}
.fb-personality>p{
  font-size:15px;
  text-align: center;
  margin:0 0 5px 0;
}
#fb-login{

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}